@import url('https://fonts.googleapis.com/css2?family=Anton+SC&display=swap');

*{

    padding: 0;
    margin: 0;
}

.container1 {
    display: flex;   
    
    
    
 }
 
 .container1 div {
     margin-left: 80px;
 }
 
 .jogo-brasil {
     margin-top: 150px;
 }
 
 .decisao {
     font-size: 30px;
     color: black;
 }
 
 .decisao2 {
 
     font-size: 30px;
     color: #0000CD;
 }
 
 .elemento1 {
     margin-top: 50px;
     padding: 10px;
   
 }
 
 .img-ronaldo img {
     border-radius: 100px;
     width: 1000px;
 }
 
 .container {
     display: flex;
     padding: 10px;
 }
 
 .elemento {
 
     width: 305px;
     height: 200px;
 }
 
 .container2 {
     display: flex;
     margin-top: 100px;
     padding: 10px;
 }
 
 .maisnoticias {
     text-align: center;
 }
 
 .titulosubnoticias {
 
     text-align: center;
     color: blue;
     font-size: 20px;
     font-family: Arial, Helvetica, sans-serif;
 }
 
 .noticia1 {
 
     font-size: 17px;
     font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

 }
 
 .noticia2 {
     font-size: 17px;
     font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
 }
 
 .fxb {
     width: 100%;
 }

header {

    background-color: #000040;
    box-shadow: 0px 3px 10px #24252a;
}

.nav-bar{
    display: flex;
    justify-content:space-between;
    align-items: center;
    
}


.logo {
    display: flex;
    align-items: center;
}


.img-logo img {

    width: 180px;
}

.nav-list{
    
    width: 70%;
    margin-right: 50px; 
}

.nav-list ul {

    display: flex;
    justify-content: center;
    list-style: none;
    margin-left: -200px;
    font-family: Arial, Helvetica, sans-serif;
    justify-content: space-evenly;
    
}

.nav-item {

    margin: 0 15px;
}

.nav-link {

    text-decoration: none;
    font-size: 1.15rem;
    color: white;
    font-weight: 400;
}


.horario {

    margin-left: 820px;
    margin-top: -30px;
    position: relative;
    
}

.horario1 {

    background: linear-gradient(rgb(219, 219, 33) , rgb(47, 47, 224));
    width: 230px;
    height: 50px;
    text-align: center;
    border-radius: 7px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.partebaixo {

    background-color: #2d6369 ;
    height: 100px;
    color: white;
    text-align: center;
}

.img12 {

    width: 40px;
    margin-top: 40px;
}

.champions2 {
    color: white;
    text-align: center;
    background: linear-gradient(#0000CD, #194aa3  );
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif
    
}

.elemento img {
    border-radius: 5px;
    
}

.champs1 {

    width: 300px;
    height: 200px;
}

.champs2 {

    width: 300px;
    height: 200px;
}

.champs3 {

    width: 300px;
    height: 200px;
}


.champs4 {

    width: 300px;
    height: 200px;
}


.champs5 {

    width: 300px;
    height: 200px;
}


.champs6 {

    width: 300px;
    height: 200px;
}

.champs7 {

    width: 300px;
    height: 200px;
}

.champs8 {

    width: 300px;
    height: 200px;
}

.champs9 {

    width: 300px;
    height: 200px;
}

.champs10 {

    width: 300px;
    height: 200px;
}

.champs11 {

    width: 300px;
    height: 200px;
}

/* BOTOES PLAY E PAUSE */
.btn-play {
    display: none;
}
.btn-play, .btn-pause { 
    position: absolute;
    left: 0;
    margin-left: 15px;
    padding: 3px;
    border-spacing: 50px;
    margin-top: 70px;
    width: 30px;
    border-radius: 30%;
    border: 3px solid var(--color-black);
}